<%- include ( './partials/header'); %>
<link rel="stylesheet" href="css/gallery.css">
<%- include ('./partials/css-global'); %> 
</head>

<body>
  <header>
    <h1 class="logo" ><i class="fas fa-route"></i><a href="/"> Adventure</a></h1>  
    <nav class ="navigation">
      <ul>
          <li ><a href="/" >Home</a></li>
          <li><a href="/#destination"class="active"> Destination </a></li>
          <li><a href="/#contact">Contact Us</a></li>
          <li><a href="/login" >Login</a></li>
          <li><a href="/register">Sign Up</a></li>
      </ul>
      <button id="toggle"><i class="fas fa-bars"></i></button>
    </nav>

  </header>
  <main class ="extra">
    <figure>
      <a href ="<%= name %>">
      <img src="http://picsum.photos/id/<%= id %>/600" alt="<%= name%>" >
      </a> 
      <figcaption> WELCOME to <span><%= name%>!</span></figcaption>
    </figure>
    <p> <%= filename%></p>
  </main>
  
 <%- include ('./partials/footer-global'); %>

 <%- include ('./partials/js-global'); %>    
</body>
</html>
