<%- include ( './partials/header'); %>
    <link rel="stylesheet" href="css/register.css">
<%- include('./partials/css-global'); %>    
</head>
<body>

    <!-- Header consist of navbar and button.The button will appear on mobile device only (max-width 660px) to present hamburger menue -->
    <header>
        <h1 class="logo" ><i class="fas fa-route"></i><a href="/"> Adventure</a></h1>  
        <%- include ('./partials/navbar'); %>
    </header>
     <!-- Main body: registration form. Form consist of class = HIGHLIGHT ( to let user know what field is about) and INNER ( actual label/ input type to fill in)
    ****** Password has certain rules and client knows about it through the title 
    ****** All the fields are required -->
     <main>
        <div class="register">

            <h1>Register</h1>
            <p> Come get lost with us. We will take you there. Always free. Always fun.</p>

            <form  action="https://formspree.io/xzbjjvyg" method="post">
                <div class="highlight">Full Name</div>
                <div class ="inner">
                    <label for="firstName">First Name<sup>*</sup> <input type ="text" placeholder="First Name" required minlength="2" name ="firstName" id="firstName"></label>
                    <label for="lastName">Last Name<sup>*</sup> <input type ="text" placeholder="Last Name" required minlength="2" name="lastName" id="lastName"></label>
                </div>

                <div class="highlight">Email address</div>
                <div class ="inner">
                    <label for="email">Email<sup>*</sup><input type="email" name="Email" placeholder="you@example.com" required minlength="6" id="email"></label>
                </div>

                <div class="highlight">Passwords</div>
                <div class ="inner">
                    <label for="password">Password<sup>*</sup><input type="password" name = "password" placeholder="Create password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                        title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters" id="password"></label>
                    
                    <label for="confpassword">Password<sup>*</sup> <input type="password" name = "confpassword" placeholder="Confirm your password" required id="confpassword"></label>
                
                </div>

                <div >
                    <span class="newsletter">Subscribe to newsletters<sup>*</sup> <input type="checkbox" required name= "newsletter"></span>
                    
                </div>
                <input type="submit" class ="signupbtn" value="YES, PLEASE!">
                    
            </form>
        </div >
  
    </main>
    <%- include ('./partials/footer-global'); %>

    <%- include ('./partials/js-global'); %> 
   
</body>
</html>
